body {
    display: flex;
    flex-flow: row wrap;
    height: 500px;
    border: 3px solid green;
    align-items: flex-end;
}

div { 
    display: inline-block;
    border: 1px solid black;
    color: white;
    background-color: red;
    width: 50px; 
    height: 100px;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
    vertical-align: center;
    margin: 10px;


}

.target {
    align-self: flex-start;
    order: -1
}