#atf, header, h1, footer {
    border: 1px solid hotpink;
    color: white;
}

#atf {
    height: 100vh;
    /* arrange content*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* format*/

    background-image: url("../images/g_s_03_five.jpg");
    background-repeat: no-repeat;   
    background-size: cover;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

#logo {
    font-family: 'Lato', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
    font-size: 2rem;
    font-weight: 900;

}

.sign-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sn-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: .75rem;
    font-weight: 400;

}

a.sn-button, 
a:link.sn-button, 
a:visited.sn-button {
    font-weight: bold;
    display: block;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: .25rem;
    box-sizing: border-box;
    margin-top: 5px;
}

a:hover {
    background-color: rgba(208, 210, 255, 0.45)

}

h1 {
    font-family: 'Lato', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
    font-size: 5rem;
    font-weight: 900;
    text-align: center;
}

h2 {
    width: 60vw;
    font-family: 'Indie Flower', cursive;
    font-size: 1.75rem;
    text-align: center;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 35vh;
    background-color: rgba(208, 210, 255, 0.45);
}

button a {
    display: block;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: white;
    background-color: red;
    border-radius: .25rem;
    box-sizing: border-box;
    padding: 10px 20px;
}

#hightlights {
    border: 5px solid green;
    /* width: 80vw; */
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#highlights a,
#highlights a:visited,
#highlights a:active {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    color: grey;
    border-radius: .25rem;
    padding: 3px 10px;
}

#highlights a:hover {
    background-color: rgba(218, 218, 218, 0.548);
}




















